.serviceContainer {
    display: flex;
    flex-direction: column;
    background-image: url('/images/image2.jpg');
    background-repeat: no-repeat;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 200px;
}

.artisanContainer {
    display: flex;
    flex-direction: column;
    background-image: url('/images/image4.jpg');
    background-repeat: no-repeat;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 200px;
}

.housingContainer {
    display: flex;
    flex-direction: column;
    background-image: url('/images/image3.jpg');
    background-repeat: no-repeat;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 200px;
}

h1 {
    color: white;
    text-shadow: 1px 1px grey;
    font-size: 50px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    margin-right: 20px;
    font-size: 26px;
}

.service {
    background-color: rgb(21, 121, 8);
}

.artisan {
    background-color: rgb(187, 3, 3);
}

.housing {
    background-color: rgb(218, 106, 1);
}

.listContainer {
    background-color: white;
    border-radius: 5px;
}

.listContainer h2 {
    text-align: center;
}

.categoryContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.categoryItem {
    width: 350px;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 0.5s;
    font-size: 40px;
}

.categoryItem:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.categoryLink {
    width: 100%;
    flex: 1;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px grey;
    color: white;
    padding-top: 125px;
    
}

@media only screen and (min-width: 1200px) {
    .serviceContainer {
        background-size: 100% 800px;
    }
    
    .artisanContainer {
        background-size: 100% 850px;
    }
    
    .housingContainer {
        background-size: 100% 800px;
    }
}

@media only screen and (max-width: 1200px) {
    .serviceContainer {
        background-size: 100% 750px;
    }
    
    .artisanContainer {
        background-size: 100% 800px;
    }
    
    .housingContainer {
        background-size: 100% 725px;
    }
}

@media only screen and (max-width: 900px) {
    .serviceContainer {
        background-size: 100% 700px;
    }
    
    .artisanContainer {
        background-size: 100% 700px;
    }
    
    .housingContainer {
        background-size: 100% 650px;
    }
}

@media only screen and (max-width: 768px) {
    .serviceContainer {
        background-size: 100% 550px;
    }
    
    .artisanContainer {
        background-size: 100% 600px;
    }
    
    .housingContainer {
        background-size: 100% 550px;
    }
}

@media only screen and (max-width: 500px) {
    .serviceContainer {
        background-size: 100% 425px;
    }
    
    .artisanContainer {
        background-size: 100% 450px;
    }
    
    .housingContainer {
        background-size: 100% 425px;
    }
}

@media only screen and (max-device-width: 900px) {
    .serviceContainer {
        background-size: 100% 700px;
    }
    
    .artisanContainer {
        background-size: 100% 700px;
    }
    
    .housingContainer {
        background-size: 100% 650px;
    }
}

@media only screen and (max-device-width: 768px) {
    .serviceContainer {
        background-size: 100% 550px;
    }
    
    .artisanContainer {
        background-size: 100% 600px;
    }
    
    .housingContainer {
        background-size: 100% 550px;
    }
}

@media only screen and (max-device-width: 500px) {
    .serviceContainer {
        background-size: 100% 425px;
    }
    
    .artisanContainer {
        background-size: 100% 450px;
    }
    
    .housingContainer {
        background-size: 100% 425px;
    }
}


