.searchContainer {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
    justify-content: center;
}

.searchItem:nth-child(1) {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 5px 0px 0px 5px;
}

.searchItem:nth-child(2) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.searchItem i {
    color: rgb(37, 188, 214);
}

.searchInput {
    border: none;
    outline: none;
}

.searchButton {
    background-color: rgb(252, 185, 0);
    color: white;
    border: none;
    cursor: pointer;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0px 5px 5px 0px;
}

.searchButton:hover {
    background-color: rgb(219, 161, 2);
}

.needContainer {
    display: flex;
    flex-direction: row;
    background-image: url('/images/image1.jpg');
    background-size: cover;
}

.needItem {
    flex: 1;
    padding: 10px;
}

.needItem:first-child {
    color: white;
}

.needItem:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


.needItem:nth-child(2) a{
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: rgb(252, 185, 0);
    border-radius: 2px;
    transition-duration: 0.4s;
}

.serviceContainer {
    background-image: url('/images/image2.jpg');
    background-size: cover;
    background-position-y: 20%;
    display: flex;
}

.serviceLayer {
    text-decoration: none;
    color: white;
    width: 100%;
    transition-duration: 0.5s;
    text-align: center;
    text-shadow: 1px 1px grey;
}

.serviceLayer:hover {
    background-color: rgb(0, 0, 0, 0.4);
}

.cardContainer {
    display: flex;
    justify-content: space-between;
}

.cardItem {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-size: cover;
}

.cardItem:first-child {
    background-image: url('/images/image4.jpg');
    margin-right: 10px;
}

.cardItem:last-child {
    background-image: url('/images/image3.jpg');
    margin-left: 10px;
}

.cardLayer {
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
    text-shadow: 1px 1px grey;
    flex: 1;
    padding-top: 100px;
    text-align: center;
    width: 100%;
}

.cardLayer:hover {
    background-color: rgb(0, 0, 0, 0.4);
}

.howContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 240, 240);
}

.howContainer li {
    margin-bottom: 15px;
}

.howContainer .circle{
    background-color: rgb(37, 188, 214);
    color: white;
    padding: 5px;
    font-size: 25px;
    margin-right: 10px;
}

.circle {
    border-radius: 50%;
}

.discoverContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
}

.discoverContainer h2 {
    text-align: center;
}

.iconContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.iconItem {
    display: flex;
    justify-content: space-between;
}

.iconItem i{
    color: white;
}


.iconItem:nth-child(1) i {
    background-color: rgb(21, 121, 8);
}

.iconItem:nth-child(2) i {
    background-color: rgb(187, 3, 3);
}

.iconItem:nth-child(3) i {
    background-color:rgb(10, 7, 150) ;
}

.iconItem:nth-child(4) i {
    background-color: rgb(218, 106, 1);
}

@media only screen and (min-width: 1200px) {
    .searchContainer {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 30px;
    }
    
    .searchItem {
        font-size: 20px;
    }
    
    .searchItem:nth-child(1) {
        padding-right: 10px;
        padding-left: 10px;
    }
 
    .searchInput {
        height: 40px;
        font-size: 20px;
    }

    .searchButton {
        font-size: 20px;
    }
    
    .needContainer {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 30px;
        height: 325px;
    }
    
    .needItem:first-child {
        font-size: 35px;
    }
    
    .needItem:nth-child(2) a{
        padding: 10px;
        font-size: 20px;
        width: 80%;
    }
    
    .needItem:nth-child(2) a:hover {
        padding: 15px;
    }
    
    .serviceContainer {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 20px;
        height: 325px;
    }
     
    .serviceLayer {
        font-size: 50px;
        padding-top: 100px;
    }
    
    
    .cardContainer {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 50px;
        height: 325px;
    }  
    
    .cardLayer {
        font-size: 50px;
        padding-top: 100px;
    }
    
    
    .howContainer {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 20px;
    }
    
    .howContainer li {
        margin-bottom: 15px;
    }
    
    .howContainer .circle{
        padding: 5px;
        font-size: 25px;
        margin-right: 10px;
    }
    
    .discoverContainer {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 20px;
        padding: 30px;
    }
    
    .discoverContainer h2 {
        font-size: 23px;
    }
    
    
    .iconItem i{
        font-size: 25px;
        border-radius: 50%;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 1200px) {
    .searchContainer {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 30px;
    }
    
    .searchItem {
        font-size: 20px;
    }
    
    .searchItem:nth-child(1) {
        padding-right: 10px;
        padding-left: 10px;
    }
 
    .searchInput {
        height: 40px;
        font-size: 20px;
    }

    .searchButton {
        font-size: 20px;
    }
    
    .needContainer {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 30px;
        height: 325px;
    }
    
    .needItem:first-child {
        font-size: 35px;
    }
    
    .needItem:nth-child(2) a{
        padding: 10px;
        font-size: 20px;
        width: 80%;
    }
    
    .needItem:nth-child(2) a:hover {
        padding: 15px;
    }
    
    .serviceContainer {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 20px;
        height: 325px;
    }
     
    .serviceLayer {
        font-size: 50px;
        padding-top: 100px;
    }
    
    
    .cardContainer {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 50px;
        height: 325px;
    }  
    
    .cardLayer {
        font-size: 50px;
        padding-top: 100px;
    }
    
    
    .howContainer {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 20px;
    }
    
    .howContainer li {
        margin-bottom: 15px;
    }
    
    .howContainer .circle{
        padding: 5px;
        font-size: 25px;
        margin-right: 10px;
    }
    
    .discoverContainer {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 20px;
        padding: 30px;
    }
    
    .discoverContainer h2 {
        font-size: 23px;
    }
    
    
    .iconItem i{
        font-size: 25px;
        border-radius: 50%;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 768px) {

}