.searchContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    justify-content: center;
}

.searchItem {
    display: flex;
}

.categories {
    border-top: 1px solid rgb(115, 115, 115);
    border-left: 1px solid rgb(115, 115, 115);
    border-bottom: 1px solid rgb(115, 115, 115);
    border-radius: 5px 0px 0px 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.cities {
    border-top: 1px solid rgb(115, 115, 115);
    border-bottom: 1px solid rgb(115, 115, 115);
}

.searchItem i {
    color: rgb(37, 188, 214);
    margin-left: 5px;
    margin-right: 5px;
    align-self: center;
}

.searchItem div input {
    border: none;
}

.searchDivInput {
    display: flex;
    flex-direction: column;
}

.searchInput {
    border: none;
    outline: none;
    height: 40px;
    font-size: 20px;
}

.searchButton {
    background-color: rgb(252, 185, 0);
    color: white;
    border: none;
    cursor: pointer;
    border-top: 1px solid rgb(115, 115, 115);
    border-right: 1px solid rgb(115, 115, 115);
    border-bottom: 1px solid rgb(115, 115, 115);
    border-radius: 0px 5px 5px 0px;
    font-size: 20px;
}

.searchButton:hover {
    background-color: rgb(219, 161, 2);
}

.slideshowContainer {
    margin-bottom: 20px;
    margin-right: 32.5%;
    margin-left: 32.5%;
}

.slideshowContainer h2{
    text-align: center;  
}

.slideContainer {
    width: 100%;
    position: relative;
}
  
.slideItem {
    display: none;
    height: 400px;
}

.slideItem h3 {
    text-align: center;
}

.slideLayer {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    transition-duration: 0.3s;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 0, 0, 0.25);
}

.slideLayer:hover {
    background-color: rgb(0, 0, 0, 0.5);
}

.slideContent {
    display: flex;
}

.slideImage {
    height: 100%;
    width: 100%;
    z-index: 1;
}

.slideTitle {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.slideText {
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
    font-size: 20px;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(37, 188, 214);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 3;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgb(37, 188, 214, 0.8);
    color: white;
}
  
.slideLink {
    font-size: 15px;
    position: absolute;
    right: 0;
    bottom: 7px;
    text-align: center;
    display: none;
}

.slideLink a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    background-color: rgb(252, 185, 0);
}
  
.numbertext {
    color: white;
    background-color: rgb(37, 188, 214);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    border-radius: 0 0 5px 0;
    z-index: 3;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
    
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.needContainer {
    display: flex;
    flex-direction: row;
    background-image: url('/images/image1.jpg');
    background-size: cover;
    margin-bottom: 30px;
    height: 325px;
}

.needItem {
    flex: 1;
    padding: 10px;
}

.needItem:first-child {
    color: white;
}

.needItem:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


.needItem:nth-child(2) a{
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: rgb(252, 185, 0);
    border-radius: 2px;
    transition-duration: 0.4s;
}

.serviceContainer {
    background-image: url('/images/image2.jpg');
    background-size: cover;
    background-position-y: 20%;
    display: flex;
    margin-bottom: 20px;
    height: 325px;
}

.serviceLayer {
    text-decoration: none;
    color: white;
    width: 100%;
    transition-duration: 0.5s;
    text-align: center;
    text-shadow: 1px 1px grey;
    padding-top: 100px;
    font-size: 50px;
}

.serviceLayer:hover {
    background-color: rgb(0, 0, 0, 0.4);
}

.cardContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    height: 325px;
}

.cardItem {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-size: cover;
}

.cardItem:first-child {
    background-image: url('/images/image4.jpg');
    margin-right: 10px;
}

.cardItem:last-child {
    background-image: url('/images/image3.jpg');
    margin-left: 10px;
}

.cardLayer {
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
    text-shadow: 1px 1px grey;
    flex: 1;
    padding-top: 100px;
    text-align: center;
    width: 100%;
    padding-top: 100px;
}

.cardLayer:hover {
    background-color: rgb(0, 0, 0, 0.4);
}

.howContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 240, 240);
    margin-bottom: 20px;
}

.howContainer li {
    margin-bottom: 15px;
}

.howContainer .circle{
    background-color: rgb(37, 188, 214);
    color: white;
    padding: 5px;
    font-size: 25px;
    margin-right: 10px;
}

.circle {
    border-radius: 50%;
}

.discoverContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    margin-bottom: 20px;
}

.discoverContainer h2 {
    text-align: center;
}

.iconContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.iconItem {
    display: flex;
    justify-content: space-between;
}

.iconItem i{
    color: white;
    border-radius: 50%;
}


.iconItem:nth-child(1) i {
    background-color: rgb(21, 121, 8);
}

.iconItem:nth-child(2) i {
    background-color: rgb(187, 3, 3);
}

.iconItem:nth-child(3) i {
    background-color:rgb(10, 7, 150) ;
}

.iconItem:nth-child(4) i {
    background-color: rgb(218, 106, 1);
}

.error {
    color: red;
    font-size: 0.75em;
    padding-left: 12px;
}

.easy-autocomplete {
    width:85% !important;
    z-index: 99!important;
}

.easy-autocomplete input {
    width: 100%;
    padding: 6px 8px !important;
}

@media only screen and (min-width: 1200px) {
    .searchContainer {
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .needContainer {
        margin-left: 10%;
        margin-right: 10%;       
    }
    
    .needItem:first-child {
        font-size: 35px;
    }
    
    .needItem:nth-child(2) a{
        padding: 10px;
        font-size: 20px;
        width: 80%;
    }
    
    .needItem:nth-child(2) a:hover {
        padding: 15px;
    }
    
    .serviceContainer {
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .cardContainer {
        margin-left: 10%;
        margin-right: 10%;
        
    }  
    
    .cardLayer {
        font-size: 50px;
        
    }
    
    
    .howContainer {
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .howContainer li {
        margin-bottom: 15px;
    }
    
    .howContainer .circle{
        padding: 5px;
        font-size: 25px;
        margin-right: 10px;
    }
    
    .discoverContainer {
        margin-left: 10%;
        margin-right: 10%;
        padding: 30px;
    }
    
    .discoverContainer h2 {
        font-size: 23px;
    }
    
    
    .iconItem i{
        font-size: 25px;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 1200px) {
    .searchContainer {
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .needContainer {
        margin-left: 10%;
        margin-right: 10%;       
    }
    
    .needItem:first-child {
        font-size: 35px;
    }
    
    .needItem:nth-child(2) a{
        padding: 10px;
        font-size: 20px;
        width: 80%;
    }
    
    .needItem:nth-child(2) a:hover {
        padding: 15px;
    }
    
    .serviceContainer {
        margin-left: 10%;
        margin-right: 10%;
    }  
    
    .cardContainer {
        margin-left: 10%;
        margin-right: 10%;
        
    }  
    
    .cardLayer {
        font-size: 50px;
    }
    
    .howContainer {
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .howContainer li {
        margin-bottom: 15px;
    }
    
    .howContainer .circle{
        padding: 5px;
        font-size: 25px;
        margin-right: 10px;
    }
    
    .discoverContainer {
        margin-left: 10%;
        margin-right: 10%;
        padding: 30px;
    }
    
    .discoverContainer h2 {
        font-size: 23px;
    }
    
    
    .iconItem i{
        font-size: 25px;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 900px) {
    .searchContainer {
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .needContainer {
        margin-left: 10%;
        margin-right: 10%;       
    }
    
    .needItem:first-child {
        font-size: 32px;
    }
    
    .needItem:nth-child(2) a{
        padding: 8px;
        font-size: 18px;
        width: 80%;
    }
    
    .needItem:nth-child(2) a:hover {
        padding: 12px;
    }
    
    .serviceContainer {
        margin-left: 10%;
        margin-right: 10%;
    }

    .cardContainer {
        margin-left: 10%;
        margin-right: 10%;
        
    }  
    
    .cardLayer {
        font-size: 47px;  
    }
    
    
    .howContainer {
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .howContainer li {
        margin-bottom: 15px;
    }
    
    .howContainer .circle{
        padding: 5px;
        font-size: 25px;
        margin-right: 10px;
    }
    
    .discoverContainer {
        margin-left: 10%;
        margin-right: 10%;
        padding: 28px;
    }
    
    .discoverContainer h2 {
        font-size: 23px;
    }
    
    
    .iconItem i{
        font-size: 24px;
        padding: 10px;
        margin-left: 9px;
        margin-right: 9px;
    }
}

@media only screen and (max-width: 768px) {
    .searchContainer {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .needContainer {
        margin-left: 5%;
        margin-right: 5%;       
    }
    
    .needItem:first-child {
        font-size: 30px;
    }
    
    .needItem:nth-child(2) a{
        padding: 6px;
        font-size: 16px;
        width: auto;
    }
    
    .needItem:nth-child(2) a:hover {
        padding: 10px;
    }
    
    .serviceContainer {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .cardContainer {
        margin-left: 5%;
        margin-right: 5%;
        
    }  
    
    .cardLayer {
        font-size: 45px;
    }
    
    
    .howContainer {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .howContainer li {
        margin-bottom: 15px;
    }
    
    .howContainer .circle{
        padding: 5px;
        font-size: 25px;
        margin-right: 10px;
    }
    
    .discoverContainer {
        margin-left: 5%;
        margin-right: 5%;
        padding: 26px;
    }
    
    .discoverContainer h2 {
        font-size: 23px;
    }
    
    
    .iconItem i{
        font-size: 24px;
        padding: 10px;
        margin-left: 8px;
        margin-right: 8px;
    }
}

@media only screen and (max-width: 500px) {
    .searchContainer {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .needContainer {
        margin-left: 5%;
        margin-right: 5%;       
    }
    
    .needItem:first-child {
        font-size: 28px;
    }
    
    .needItem:nth-child(2) a{
        padding: 5px;
        font-size: 14px;
        width: auto;
    }
    
    .needItem:nth-child(2) a:hover {
        padding: 10px;
    }
    
    .serviceContainer {
        margin-left: 5%;
        margin-right: 5%;
    }  
    
    .cardContainer {
        margin-left: 5%;
        margin-right: 5%;
        
    }  
    
    .cardLayer {
        font-size: 45px;   
    }
    
    
    .howContainer {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .howContainer li {
        margin-bottom: 15px;
    }
    
    .howContainer .circle{
        padding: 5px;
        font-size: 25px;
        margin-right: 10px;
    }
    
    .discoverContainer {
        margin-left: 5%;
        margin-right: 5%;
        padding: 25px;
    }
    
    .discoverContainer h2 {
        font-size: 23px;
    }
    
    
    .iconItem i{
        font-size: 22px;
        padding: 8px;
        margin-left: 8px;
        margin-right: 8px;
    }
}