body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 15px;
}

.logo {
    position: relative;
}

.itemNav:last-child {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(87, 223, 216);
    border-radius: 5px 0px 0px 5px;
}

.buttonNav {
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: bold;
    transition-duration: 0.5s;
    background-color: rgb(87, 223, 216);
    align-self: center;
    color: white;
}

.buttonNav:nth-child(2) {
    background-color: rgb(37, 188, 214);
    border-radius: 5px 0px 0px 5px;
    color: white;
}

.buttonNav:hover {
    background-color: rgb(0, 168, 197);
}

.iconNav {
    display: none;
    transition-duration: 0.5s;
}

.iconNav:hover {
    background-color: rgb(0, 168, 197);
}

footer {
    margin-left: 5%;
    margin-right: 5%;
}

footer hr {
    width: 60%;
    text-align: center;
}

.socialContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.socialLink {
    border-radius: 50%;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
    background-color: black;
}

.facebook:hover {
    background-color: #3b5998;
}


.twitter:hover {
    background-color: #00acee;
}

.instagram:hover {
    background-color: #c08d64;
}

.linkedin:hover {
    background-color: #0e76a8;
}

.linkContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.linkItem ul{
    list-style: none;
}


.linkItem a {
    text-decoration: none;
    color: black;
}

.linkItem strong {
    color: rgb(37, 188, 214);
}

.error {
    color: red;
}

.success {
    color: green;
}

@media only screen and (min-width: 1200px) {
    nav {
        height: fit-content;
        justify-content: flex-end;
    }
    
    .logo {
        height: 115px;
        bottom: 20px;
    }
    
    .itemNav {
        height: 70px;
    }
    
    .itemNav:first-child {
        margin-right: 10px;
    }
    
    .itemNav:last-child {
        padding-right: 5%;
    }
    
    .buttonNav {
        height: 40px;
        font-size: 22px;
        padding: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }  
    
    .socialLink {
        width: 50px;
        height: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .socialLink i {
        font-size: 25px;
    }

    .linkItem li {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1200px) {
    nav {
        height: fit-content;
        justify-content: flex-end;
    }

    .logo {
        height: 110px;
        bottom: 15px;
    }
    
    .itemNav {
        height: 65px;
    }
    
    .itemNav:first-child {
        margin-right: 10px;
    }
    
    .itemNav:last-child {
        padding-right: 0;
    }
    
    .buttonNav {
        height: 35px;
        font-size: 18px;
        padding: 15px;
        padding-left: 10px;
        padding-right: 10px;
        width: max-content;
    }  
    
    .socialLink {
        width: 50px;
        height: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .socialLink i {
        font-size: 25px;
    }

    .linkItem li {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 900px) {   
    .itemNav {
        height: 65px;
    }
    
    .itemNav:first-child {
        display: none;
    }
    
    .itemNav:last-child {
        padding-right: 0;
        flex: 1;
    }
    
    .buttonNav {
        height: 35px;
        font-size: 18px;
        padding: 15px;
        padding-left: 7px;
        padding-right: 7px;
        width: 100%;
    } 
    
    .socialLink {
        width: 50px;
        height: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .socialLink i {
        font-size: 25px;
    }

    .linkItem li {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .nav {
        justify-content: unset;
        height: fit-content;
    }
    .logo {
        height: 120px;
        bottom: 20px;
    }
    
    .itemNav {
        height: auto;
    }

    .itemNav .buttonNav {
        display: none;
    }
    
    .itemNav:first-child {
        margin-right: 50px;
    }
    
    .itemNav:last-child {
        flex-direction: column;
        padding-right: 0;
        border-radius: 0;
    }
    
    .buttonNav {
        height: 40px;
        font-size: 23px;
        padding: 15px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .iconNav {
        display: block;
        color: white;
        height: 50px;
        font-size: 40px;
        padding-left: 10px;
        padding-top: 10px;
    }
    
    .socialContainer {
        font-size: 14px;
    }
    
    .socialLink {
        width: 40px;
        height: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .socialLink i {
        font-size: 20px;
    }

    .linkContainer {
        font-size: 15px;
    }

    .linkItem li {
        margin-bottom: 10px;
    }

    .responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(87, 223, 216);
        width: 100%;
    }

    .buttonNav:nth-child(2) {
        background-color: rgb(87, 223, 216);
    }

    .buttonNav:nth-child(2):hover {
        background-color: rgb(0, 168, 197);
    }

}

@media only screen and (max-width: 500px) {
    .nav {
        justify-content: unset;
        height: fit-content;
    }

    .logo {
        height: 120px;
        bottom: 20px;
    }
    
    .itemNav {
        height: auto;
    }
    
    .itemNav:first-child {
        margin-right: 50px;
    }
    
    .itemNav:last-child {
        padding-right: 0;
    }
    
    .buttonNav {
        height: 40px;
        font-size: 23px;
        padding: 15px;
        padding-left: 25px;
        padding-right: 25px;
    } 
    
    .socialContainer {
        font-size: 14px;
    }
    
    .socialLink {
        width: 35px;
        height: 35px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .socialLink i {
        font-size: 17px;
    }

    .linkContainer {
        font-size: 14px;
    }

    .linkItem li {
        margin-bottom: 10px;
    }
}