.container {
    display: flex;
    flex-direction: column;
    background-image: url('/images/image1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 900px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 200px;
}

h1 {
    color: white;
    text-shadow: 1px 1px grey;
    font-size: 50px;
}

h2 {
    text-align: center;
}

.listContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
}

.listItem {
    display: flex;
    flex-direction: column;
    height: 500px;
    color: white;
}



.listInfo {
    display: flex;
    flex-direction: row;
    background-color: palevioletred;
    flex: 1;
    align-items: center;
}

.listTitle {
    text-align: center;
    flex: 3;
    font-size: 30px;
}

.listTitle hr {
    width: 75%;
    border: 1px solid white;
    background-color: white;
}

.listOwner {
    font-size: 25px;
}

.listLogoCompany {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.imageLogoCompany {
    width: 150px;
}

.listCoordinates {
    display: flex;
    flex-direction: column;
    flex: 1.5;
    justify-content: space-around;
    position: relative;
    bottom: 30px;
    background-color: rgb(250, 158, 66);
    height: 125px;
    border-radius: 25px 0 25px 0;
    padding-left: 30px;
    font-size: 16px;
}

.listCoordinates i {
    margin-right: 20px;
    padding: 3px;
    border: 1px solid white;
    border-radius: 50%;
}

.listImage {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageCompany {
    height: 240px;
}
