.container {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 100% 900px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 200px;
    background-image: url('images/image2.jpg');
}

h1 {
    color: white;
    text-shadow: 1px 1px grey;
    font-size: 50px;
}

h2 {
    text-align: center;
}

.listContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
}

.imageCompany {
    height: 240px;
}

.listItem {
    display: flex;
    flex-direction: column;
    height: 300px;
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.644);
    margin-bottom: 30px;
    transition-duration: 0.3s;
    background-color: white;
}

.listItem:hover {
    transform: scale(1.05);
}

.listInfo {
    display: flex;
    height: 250px;
    align-items: center;
}

.listTitle {
    text-align: center;
    flex: 3;
    font-size: 30px;
}

.listTitle hr {
    width: 75%;
    border: 1px solid;
}

.listOwner {
    font-size: 25px;
}

.listLogoCompany {
    flex: 1;
    display: flex;
    align-self: flex-start;
}

.imageLogoCompany {
    width: 175px;
    border-radius: 0 0 10px 0;
    border-right: 4px inset black;
    border-bottom: 4px inset black;
}

.listCoordinates {
    display: flex;
    flex-direction: column;
    flex: 1.5;
    justify-content: space-around;
    position: relative;
    bottom: 30px;
    background-color: rgb(250, 158, 66);
    height: 125px;
    border-radius: 25px 0 25px 0;
    padding-left: 25px;
    padding-right: 5px;
    font-size: 15px;
    color: white;
}

.listCoordinates div {
    display: flex;
}

.listCoordinates i {
    margin-right: 20px;
    padding: 3px;
    border: 1px solid white;
    border-radius: 50%;
    height: fit-content;
}


.listButtonItem {
    display: flex;
    justify-content: flex-end;
}

.listButton {
    color: black;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(255, 203, 59);
    transition-duration: 0.4s;
}

.listButton:hover {
    background-color: rgb(252, 185, 0);
    color: white;
}

@media only screen and (min-width: 1200px) {
    .listInfo {
        flex-direction: row;
    }
}

@media only screen and (max-width: 1200px) {
    .listInfo {
        flex-direction: row;
    }
}

@media only screen and (max-width: 900px) {
    .listInfo {
        flex-direction: column;
    }
}
