.memberContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(87, 223, 216);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(134, 134, 134) ;
}

.memberItem {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.memberInfo {
    display: flex;
    align-items: center;
    color: rgb(87, 223, 216);
    background-color: white;
    border-radius: 0px 10px 10px 0px;
}

.memberFillInfo {
    flex: 1;
    font-size: 25px;
    color: white;
}

.memberButton {
    text-decoration: none;
    color: black;
    background-color: rgb(255, 203, 59);
}

.memberButton:hover {
    color: white;
    background-color: rgb(252, 185, 0);
}

.memberBackButton {
    text-decoration: none;
    color: black;
    background-color: rgb(255, 203, 59);
    align-self: flex-start;
}

.memberBackButton:hover {
    color: white;
    background-color: rgb(252, 185, 0);
}

.memberForm {
    width: 100%;
}

.memberInput {
    border-radius: 5px;
    border: none;
    outline: none;
}

.memberSubmitButton {
    color: black;
    background-color: rgb(255, 203, 59);
    cursor: pointer;
    outline: none;
    border: none;
}

.memberSubmitButton:hover {
    color: white;
    background-color: rgb(252, 185, 0);
}

.providerItem {
    width: 40%;
}

.formContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.formItem {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.formLabel {
    font-size: 20px;
    margin-bottom: 5px;
}

.formInput {
    font-size: 18px;
}

h1 {
    margin-left: 10%;
    
}

h2 {
    align-self: flex-start;
    color: white;
}

h3 {
    align-self: flex-start;
    color: white;
    text-decoration: underline;
}

hr {
    border: 1px solid white;
    width: 80%;
}

@media only screen and (min-width: 1200px) {
    .memberContainer {
        min-height: 500px;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 75px;
        padding-bottom: 75px;
    }
    
    .memberItem {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .memberInfo {
        font-size: 30px;
        height: 75px;
        border-radius: 0px 10px 10px 0px;
        width: 30%;
        padding-left: 200px;
        margin-right: 50px;
    }
    
    .memberFillInfo {
        font-size: 25px;
    }
    
    .memberButton {
        font-size: 22px;
        padding: 10px;
        margin-left: 150px;
    }

    .memberBackButton {
        font-size: 22px;
        padding: 10px;
        margin-left: 150px;
    }
    
    .memberInput {
        font-size: 20px;
        width: 350px;
        padding: 10px;
    }
    
    .memberSubmitButton {
        font-size: 30px;
        padding: 10px;
        margin-left: 150px;
        margin-top: 50px;
    }
    
    h2 {
        font-size: 30px;
        margin-left: 150px;
    }

    h3 {
        font-size: 25px;
        margin-left: 150px;
    }
    
}

@media only screen and (max-width: 1200px) {
    .memberContainer {
        min-height: 500px;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 75px;
        padding-bottom: 75px;
    }
    
    .memberItem {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .memberInfo {
        font-size: 25px;
        height: 75px;
        width: 25%;
        padding-left: 180px;
        margin-right: 25px;
    }
    
    .memberFillInfo {
        font-size: 20px;
    }
    
    .memberButton {
        font-size: 22px;
        padding: 10px;
        margin-left: 150px;
    }

    .memberBackButton {
        font-size: 22px;
        padding: 10px;
        margin-left: 150px;
    }
    
    .memberInput {
        font-size: 18px;
        width: 300px;
        padding: 8px;
    }
    
    .memberSubmitButton {
        font-size: 28px;
        padding: 8px;
        margin-left: 125px;
        margin-top: 50px;
    }
    
    h2 {
        font-size: 30px;
        margin-left: 150px;
    }

    h3 {
        font-size: 25px;
        margin-left: 150px;
    }
}

@media only screen and (max-width: 900px) {
    .memberContainer {
        min-height: 450px;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 75px;
        padding-bottom: 75px;
    }
    
    .memberItem {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .memberInfo {
        font-size: 24px;
        height: 75px;
        width: 25%;
        padding-left: 150px;
        margin-right: 30px;
        
    }
    
    .memberFillInfo {
        font-size: 18px;
    }
    
    .memberButton {
        font-size: 20px;
        padding: 10px;
        margin-left: 150px;
    }

    .memberBackButton {
        font-size: 20px;
        padding: 10px;
        margin-left: 150px;
    }
    
    .memberInput {
        font-size: 16px;
        width: 250px;
        padding: 10px;
    }
    
    .memberSubmitButton {
        font-size: 26px;
        padding: 8px;
        margin-left: 125px;
        margin-top: 50px;
    }
    
    h2 {
        font-size: 30px;
        margin-left: 150px;
    }

    h3 {
        font-size: 25px;
        margin-left: 150px;
    }
}

@media only screen and (max-width: 768px) {
    .memberContainer {
        min-height: 425px;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 75px;
        padding-bottom: 75px;
    }
    
    .memberItem {
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .memberInfo {
        font-size: 22px;
        height: 60px;
        width: 50%;
        border-radius: 10px;
        padding-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
        justify-content: center;
    }
    
    .memberFillInfo {
        font-size: 16px;
    }
    
    .memberButton {
        font-size: 18px;
        padding: 10px;
        margin-left: 0;
    }

    .memberBackButton {
        font-size: 18px;
        padding: 10px;
        margin-left: 40px;
    }
    
    .memberInput {
        font-size: 15px;
        width: 300px;
        padding: 10px;
    }
    
    .memberSubmitButton {
        font-size: 24px;
        padding: 8px;
        margin-left: 0;
        margin-top: 10px;
    }
    
    h2 {
        font-size: 26px;
        margin-left: 40px;
    }

    h3 {
        font-size: 21px;
        margin-left: 40px;
    }
}

@media only screen and (max-width: 500px) {
    .memberContainer {
        min-height: 400px;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 75px;
        padding-bottom: 75px;
    }
    
    .memberItem {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .memberInfo {
        font-size: 20px;
        height: 50px;
        width: 50%;
        padding-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
        justify-content: center;
    }
    
    .memberFillInfo {
        font-size: 20px;
    }
    
    .memberButton {
        font-size: 16px;
        padding: 10px;
        margin-left: 0;
    }

    .memberBackButton {
        font-size: 16px;
        padding: 10px;
        margin-left: 25px;
    }
    
    .memberInput {
        font-size: 15px;
        width: 300px;
        padding: 10px;
    }
    
    .memberSubmitButton {
        font-size: 22px;
        padding: 8px;
        margin-left: 0;
        margin-top: 10px;
    }
    
    h2 {
        font-size: 25px;
        margin-left: 25px;
    }

    h3 {
        font-size: 20px;
        margin-left: 25px;
    }
}