.searchContainer {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
    justify-content: center;
}

.searchItem {
    display: flex;
}

.categories {
    border-top: 1px solid rgb(115, 115, 115);
    border-left: 1px solid rgb(115, 115, 115);
    border-bottom: 1px solid rgb(115, 115, 115);
    border-radius: 5px 0px 0px 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.cities {
    border-top: 1px solid rgb(115, 115, 115);
    border-bottom: 1px solid rgb(115, 115, 115);
}

.searchItem i {
    color: rgb(37, 188, 214);
    margin-left: 5px;
    margin-right: 5px;
    align-self: center;
    font-size: 20px;
}

.searchItem div input {
    border: none;
}

.searchInput {
    border: none;
    outline: none;
    height: 40px;
    font-size: 20px;
}

.searchButton {
    background-color: rgb(252, 185, 0);
    color: white;
    border: none;
    cursor: pointer;
    border-top: 1px solid rgb(115, 115, 115);
    border-right: 1px solid rgb(115, 115, 115);
    border-bottom: 1px solid rgb(115, 115, 115);
    border-radius: 0px 5px 5px 0px;
    font-size: 20px;
}

.searchButton:hover {
    background-color: rgb(219, 161, 2);
}

.listContainer {
    display: flex;
    flex-direction: column;
}

.listItem {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    background-color: white;
    padding: 1em;
    box-shadow: 0 0 10px rgb(194, 194, 194);
}

.listImage {
    width: 125px;
    height: 125px;
    margin-right: 2em;
    border-radius: 50%;
}

.listLink {
    text-decoration: none;
    color: rgb(37, 188, 214);
    font-size: 1.5em;
}

.listLink:hover {
    text-decoration: underline;
    color: rgb(0, 168, 197);
    height: fit-content;
}

.listInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    line-height: 1.5em;
}

.listScore {
    align-self: flex-end;
    width: 90%;
    text-align: right;
    flex: 1;
}

.infoContainer {
    font-size: 1.5em;
    min-height: 450px;
}


.error {
    color: red;
    font-size: 0.75em;
    padding-left: 12px;
}

.easy-autocomplete {
    width:85% !important;
}

.easy-autocomplete input {
    width: 100%;
    padding: 6px 8px !important;
}

@media only screen and (min-width: 1200px) {
    .searchContainer {
        margin-left: 10%;
        margin-right: 10%;
    }

    .infoContainer {
        margin-left: 30%;
        margin-right: 30%;
    }

    .listContainer {
        margin-right: 20%;
        margin-left: 20%;
    }

    .listInfo div {
        font-size: 1em;
    }

    .listScore {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 1200px) {
    .searchContainer {
        margin-left: 10%;
        margin-right: 10%;
    }

    .infoContainer {
        margin-left: 30%;
        margin-right: 30%;
    }

    .listContainer {
        margin-right: 20%;
        margin-left: 20%;
    }

    .listInfo div {
        font-size: 1em;
    }

    .listScore {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 900px) {
    .searchContainer {
        margin-left: 10%;
        margin-right: 10%;
    }

    .infoContainer {
        margin-left: 30%;
        margin-right: 30%;
    }

    .listContainer {
        margin-right: 15%;
        margin-left: 15%;
    }

    .listInfo div {
        font-size: 0.9em;
    }

    .listScore {
        font-size: 1.4em;
    }
}

@media only screen and (max-width: 768px) {
    .searchContainer {
        margin-left: 5%;
        margin-right: 5%;
    }

    .infoContainer {
        margin-left: 25%;
        margin-right: 25%;
    }

    .listContainer {
        margin-right: 10%;
        margin-left: 10%;
    }

    .listInfo div {
        font-size: 0.8em;
    }

    .listScore {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 500px) {
    .searchContainer {
        margin-left: 5%;
        margin-right: 5%;
    }

    .infoContainer {
        margin-left: 25%;
        margin-right: 25%;
    }

    .listContainer {
        margin-right: 10%;
        margin-left: 10%;
    }

    .listInfo div {
        font-size: 0.8em;
    }

    .listScore {
        font-size: 1.25em;
    }
}

@media only screen and (max-device-width: 900px) {
    .searchContainer {
        margin-left: 10%;
        margin-right: 10%;
    }

    .infoContainer {
        margin-left: 30%;
        margin-right: 30%;
    }

    .listContainer {
        margin-right: 15%;
        margin-left: 15%;
    }

    .listInfo div {
        font-size: 0.9em;
    }

    .listScore {
        font-size: 1.4em;
    }
}

@media only screen and (max-device-width: 768px) {
    .searchContainer {
        margin-left: 5%;
        margin-right: 5%;
    }

    .infoContainer {
        margin-left: 25%;
        margin-right: 25%;
    }

    .listContainer {
        margin-right: 10%;
        margin-left: 10%;
    }

    .listInfo div {
        font-size: 0.8em;
    }

    .listScore {
        font-size: 1.3em;
    }
}

@media only screen and (max-device-width: 500px) {
    .searchContainer {
        margin-left: 5%;
        margin-right: 5%;
    }

    .infoContainer {
        margin-left: 25%;
        margin-right: 25%;
    }

    .listContainer {
        margin-right: 10%;
        margin-left: 10%;
    }

    .listInfo div {
        font-size: 0.8em;
    }

    .listScore {
        font-size: 1.25em;
    }
}